.document-container {

  .document-sidebar {
    padding-right: 0;
    @include breakpoint(medium only) {
      margin-right: 0.5rem;
    }
    @include breakpoint(small only) {
      margin-right: 0.25rem;
    }    
    .item {
      margin-bottom: 0;
      .content {
        border-bottom: 1px solid $light-blue;
        padding-top: 20px;
        .title {
          margin-bottom: 20px;
          color: $blue;
        }
      }
    }
    .body {
      ol, ul {
        line-height: 1.9;
      }      
      .column {
        margin-bottom: 15px;
        img {
          width: 40px;
          border-radius: 50%;
        }
        figcaption {
          padding: 0.5rem;
          float: left;
        }        
      }
    }
  }

  .menu.actions {
    font-size: 0.8rem;
    .action {
      background-color: $light-blue;
      border-right: 4px solid $white;
      text-align: center;
    }  
    .action.is-active a {
      background-color: $medium-blue;
    }
    .action > a {
      padding: 0.47rem 1rem;
      color: $dark-blue;
      font-weight: bold;
    }  
    li.is-dropdown-submenu-parent {
      a {
        padding-right: 0.5rem;
      }
      a::after {
        display: none;
      }
    }
    .submenu {
      li {
        text-align: left;
        a {
          color: $white;
        }
      }
    }
  }

  .stats {
    .menu {
      background-color: $light-blue;
      .action {
        border: none;
      }
      .action > a {
        font-size: 0.7rem;
        padding: 0.35rem 1rem;
      }
      .action i {
        font-size: 1.0rem;
        margin-right: 0.1rem;
      }   
    }
  }

  .mini-container-a {
    .header-left {
      padding: 0.15rem 0.5rem;
    }
    .body > li {
      font-size: 0.7rem;
    }
  }

  .mini-container-a.key-contacts {
    .column {
      a {
        color: $blue;
      }         
      img {
        width: 55px;
      }
      figcaption {
        padding: 2px 15px;
        font-size: 0.7rem;
        .name {
          font-weight: bold;
        }
      }
    }
  }

  .mini-container-a.our-documents {
    ul.no-bullet {
      li {
        line-height: 1.2;
        padding-bottom: 20px;
      }
    }
  }

  .document-meta {
    margin: 1.5rem 0;
    padding-right: 1rem;
    .text {
      padding: 1.5rem 0;
      .document-title {
        font-size: 1.4rem; 
        color: $blue;
      }
      .document-author, .document-publish-date {
        font-size: 0.8rem;
      }
    }
    .avatar {
      padding-top: 10px;
      img {
        border-radius: 50%;
      }
    }
  }

}

