.banner-full-container {
  border: 1px solid #666;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-image: url("../img/banner-wide.png");
  background-size: 100%;
  .banner-full-overlay {
    background-color: rgba(255,0,0,0.4);
    width: 30%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: table;
    .banner-full-overlay-text {
      padding-left: 20px;
      padding-right: 20px;
      color: #fefefe;
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      line-height: 1;
    }
  }
}

.tabs-container {
  margin-top: 5px;
  margin-bottom: 25px;
  .tabs {
    border: none;
    border-bottom: 1px solid $light-blue;
  }
  .tabs-title {
    background-color: $light-blue;
    border-right: 4px solid $white;
  }
  .tabs-title.is-active a {
    background-color: $medium-blue;
  }
  .tabs-title > a {
    padding: 0.5rem 1rem;
    color: $dark-blue;
    font-weight: bold;
  }
  .tabs-content {
    border: none;
    border-bottom: 1px solid $medium-blue;
    background-color: $medium-blue;
    .tabs-panel {
      padding: 0;
    }
    li a {
      color: $white;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.6rem 1rem;
    }
  }
}

.event-list-container {
  max-width: 63.5rem;
}