.phone-book-container {
  .search-meta-container {
    .blank label {
      background-color: $white;
    }
    label {
      margin: 0 2px;
    }
    label:last-of-type {
      margin-right: 0;
    }
    .large-1 {
      width: 102px;
    }
    .end {
      label {
        width: 100%;
      }
    }
  }
  .search-filter-container {
    margin-bottom: 20px; 
  }
  .phone-book {
    border: 2px solid $gray;
    .content {
      .photo {
        padding-left: 10px;
      }
      img.round-mask {
        width: 100px;
      }
      .info {
        line-height: 1.35;
        .title {
          margin-bottom: 10px;
        }
        .name {
          font-weight: bold;
           color: $blue;
        }
      }
    }
    .tabs-container {
      margin-top: 50px;
      margin-bottom: 0;
      .phone-book-tabs-container {
        border-right: 1px solid $gray;
        min-height: 550px;
      }
      ul {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        height: 1.9rem;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-left: 175px;
      }
      li {
        width: 33%;
        background-color: $white;
      }
      .location {
        color: $gold;
      }
      .tabs-title {
        a {
          padding-left: 0;
        }
      }
      .tabs-title.is-active {
        a {
          background-color: $white;
          span {
            border-bottom: 3px solid $light-blue;
          }
        }
      }
      .tabs-content {
        border-bottom: none;
        max-height: initial;
        background-color: $white;
        padding-left: 175px;
      }
      .tabs-panel {
        background-color: $white;
        border: none;
        box-shadow: none;
        section {
          margin-bottom: 20px;
          line-height: 1.4;
          font-size: 0.9rem;          
        }
        .locations {
          padding-left: 0;
          section {
            padding: 10px 10px 10px 0;
            margin: 0 0 10px 0;
            float: left;
            min-width: 150px;
          }
        }
      }
      .professionals {
        .tabs-panel-permanent {
          background-color: $light-blue;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
          height: 1.9rem;
          font-size: 0.75rem;
          font-weight: bold; 
          color: $dark-blue;   
          padding: 0.5em 0.7em;    
        }
        .content {
          padding: 1.8rem 1rem;
          font-size: 0.9rem;
          .professional {
            margin-bottom: 20px;
            .name {
              font-weight: bold;
            }            
          }
        }
      }
    }
  }
}